body, html, #root, .cont {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Consolas, monospace;
}

#header {
  background: #aaa;
  transition: height .5s;
}

#expand {
  text-align: center;
  background-color: #444;
  color: white;
  height: 20px;
}

#expand:hover {
  background-color: #666;
}

#sidebar {
  height: 100%;
  background-color: #222;
  flex-direction: column-reverse;
  display: flex;
}

#sidebar a {
  text-decoration: none;
  color: #818181;
  display: block;
  padding: 0 10px 20px 10px;
}

#content {
  display: flex;
  height: 100%;
}

#sidexpand {
  width: 20px;
  background-color: #444;
}

/* #sidexpand:hover {
  background-color: #666;
} */
