body, html, #root, .cont {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  background: cyan;
  transition: height .5s;
}

#expand {
  text-align: center;
  font-family: Arial;
  background-color: #555;
}

#expand:hover {
  background-color: #777;
}